[submodule "external/nrfx"]
	path = external/nrfx
	url = https://github.com/NordicSemiconductor/nrfx.git
[submodule "external/cherryusb"]
	path = external/cherryusb
	url = https://github.com/cherry-embedded/CherryUSB.git
[submodule "external/sdk-nrfxlib"]
	path = external/sdk-nrfxlib
	url = https://github.com/nrfconnect/sdk-nrfxlib.git
